* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: var(--light-content);
}


:root {
    --dark-mode: #191919;
    --light-content: #A7A7A7;
    --gradient-heading: linear-gradient(90deg, #13B0F5 -2.06%, #E70FAA 100%);
    --hero-heading: #D9D9D9;
    --solid-heading: #42446E;
}

html {
    background: var(--dark-mode);
    font-family: 'Poppins';
    font-size: 62.5%;
    /*1rem=10px  and if u do 10/16=62.5% now wheenerever u use 10px or 26px just do 1rem or 2.6rem so that font size has become responsive */
    font-style: normal;
}

.container {
    padding: 12px 3rem;
}

/* Header section */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
}


header nav ul {
    display: flex;
    gap: 1rem;
    list-style: none;
}



.gradient-text {
    background: var(--gradient-heading);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: Poppins;
    font-weight: 700;
    font-size: 3rem;
}

.navlinks a {
    color: var(--light-content);
    text-align: center;
    font-family: DM Sans;
    font-size: 3rem;
    font-weight: 500;
    line-height: 2.6rem;
}

.navlinks a::after {
    content: "";
    width: 0;
    height: 2px;
    display: block;
    transition: all 0.2s ease-in;
}

.navlinks a:hover::after {
    width: 100%;
    background: var(--gradient-heading);
}

/* Hero Section */
#hero {
    display: flex;
    justify-content: space-around;
    min-height: 100vh;
    align-items: center;
    gap: 1.5rem;
}

.hero-content {
    color: var(--hero-heading);
    font-size: 5.8rem;
    font-weight: 700;
    line-height: 7rem;
    letter-spacing: -1px;
}

.gradient {
    background: var(--gradient-heading);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.profile-img-wrapper {
    background: var(--gradient-heading);
    border-radius: 50%;
    padding: 6px;
    padding-bottom: 3px;
}

.profile-img {
    width: 330px;
    height: 349px;
    border-radius: 50%;
}

.social-links img {
    display: inline-block;
    width: 40px;
    height: 40px;
    margin: 1rem 0.5rem;
    transition-duration: 0.5s;
}

.social-links img:hover {
    cursor: pointer;
    transform: scale(1.2);
    transition-duration: 0.5s;
}

.resume {
    margin-top: 2rem;
    font-size: 2.5rem;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    border: 2px solid green;
    width: 25rem;
    border-radius: 50px;
}


/* techstack */

#techstack {
    padding-top: 3.5rem;
}

.techstack-heading {
    color: var(--hero-heading);
    font-size: 5.5rem;
    font-weight: 700;
    line-height: 26px;
    text-align: center;
}

.techstack-sub-heading {
    color: var(--light-content);
    text-align: center;
    margin-top: 4rem;
    font-size: 3rem;
    font-weight: 400;
    line-height: 26px;
}

.skills-icons {
    margin-top: 6rem;
    display: flex;
    gap: 10.3rem;
    flex-wrap: wrap;
    justify-content: center;
}

.skills-icons img {
    height: 12rem;
    width: 12rem;
}

/* projects */

#projects {
    padding-top: 3.5rem;
    margin-top: 16rem;
}

.projects-container {
    padding: 8rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    gap: 5rem;
    color: var(--light-content);
}

.project-card {
    width: 373px;
    height: 567px;
    border-radius: 20px;
    background: #363636;
}

.project-image img {
    width: 373px;
    height: 260px;
    border-radius: 20px 20px 0 0;
}

.project-content {
    padding: 1.5rem;
}

.project-title {
    text-align: center;
    font-size: 2.5rem;
    font-weight: 500;
    margin-bottom: 1rem;

}

.project-description {
    text-align: left;
    padding: 0 2rem;
    font-size: 1.8rem;
    font-weight: 500;
    margin-bottom: 1rem;
}

.project-tech {
    text-align: left;
    padding: 0 2rem;
    font-size: 1.8rem;
    font-weight: 500;
    margin-bottom: 1rem;
}

.project-previewcode {
    display: flex;

}

.live-preview {
    padding: 0 3.4rem;
}

.live-preview a {
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
    color: #FFF;
    font-size: 1.4rem;
    font-weight: 400;
    text-decoration: underline;

}

.live-preview a img {
    height: 3rem;
}

/* footer */
footer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap-reverse;
    align-items: center;
    border-top: 1px solid var(--solid-heading);
    padding: 12px 3rem;
    margin: 5rem 0 8rem 0;

}


footer .navlinks {
    margin-top: 7rem;
    list-style: none;
    display: flex;
    gap: 4rem;
    color: var(--light-content);
    text-align: center;
    font-family: DM Sans;
    font-weight: 500;
    line-height: 2.6rem;
}

footer .navlinks li a {
    font-size: 2.5rem;
}

footer .social-links {
    margin-top: 7rem;
    display: flex;
    gap: 2.5rem;
}




/* media queries */

/* header */
@media all and (width<=666px) {
    header .navlinks li a {
        font-size: 2.2rem;
    }

    .gradient-text {
        font-size: 2.2rem;
    }
}

@media all and (width<=480px) {
    .container {
        padding: 1.2rem 2rem;
    }

    header {
        flex-direction: column;
    }

    header .navlinks li a {
        font-size: 2rem;
    }

    .gradient-text {
        font-size: 3rem;
    }

}



/* hero section */
@media all and (width<=881px) {
    #hero {
        flex-direction: column;
    }

    .profile-img-wrapper {
        order: -1;
        margin-top: 4rem;
    }

    .hero-content {
        font-size: 4.8rem;
        line-height: 6rem;
        margin-top: 2.5rem;
    }
}

@media all and (width<=400px) {
    .profile-img {
        width: 280px;
        height: 280px;
    }

    .hero-content {
        font-size: 3.8rem;
        line-height: 5rem;
    }

    .social-links img {
        width: 35px;
        height: 35px;
    }


    .resume {
        font-size: 1.8rem;
        font-weight: 600;
        width: 18rem;
    }
}

/* techstack */

@media all and (width<=881px) {
    .techstack-heading {
        margin-top: 8rem;
        line-height: 7rem;
    }

    .techstack-sub-heading {
        line-height: 5rem;
    }

}

@media all and (width<=400px) {
    .techstack-heading {
        font-size: 4rem;
        line-height: 6rem;

    }

    .techstack-sub-heading {
        margin-top: 7px;
        font-size: 2rem;
        line-height: 3.2rem;
    }

    .skills-icons {
        gap: 8rem;
    }

    .skills-icons img {
        height: 9rem;
        width: 9rem;
    }
}

/* projects */
@media all and (width<=400px) {

    .project-card {
        width: 293px;
        height: 530px;
        border-radius: 20px;
        background: #363636;
    }


    .project-image img {
        width: 293px;
        height: 200px;
    }

    .project-title {
        font-size: 2rem;
    }

    .project-description {
        font-size: 1.5rem;
    }

    .project-tech {
        font-size: 1.5rem;
    }

    .project-previewcode {
        display: flex;
        justify-content: center;
    }

    .live-preview {
        padding: 0.4rem 0.5rem;
    }

    .live-preview a {
        font-size: 1.5rem;
    }

    .live-preview a img {
        height: 2.5rem;
    }

}


/* footer */
@media all and (width<=780px) {
    footer {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        flex-wrap: wrap-reverse;
    }


    footer .navlinks {
        margin-top: 3rem;
    }

    footer .navlinks li a {
        font-size: 2.5rem;
    }

    footer .social-links {
        margin-top: 8rem;
        order: -1;
    }
}

@media all and (width<=780px) {
    footer .navlinks {
        gap: 4rem;
    }

    footer .navlinks li a {
        font-size: 2rem;
    }
}

@media all and (width<=455px) {
    footer .navlinks {
        margin-top: 0.8rem;
        gap: 1rem;
    }

    footer .navlinks li a {
        font-size: 1.9rem;
    }
}

/* scroll to view padding */
@media all and (width<=780px) {

    #techstack,
    #projects {
        padding-top: 0rem;
    }
}