* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

:root {
    --dark-mode: #191919;
    --light-content: #A7A7A7;
    --gradient-heading: linear-gradient(90deg, #13B0F5 -2.06%, #E70FAA 100%);
    --hero-heading: #D9D9D9;
}

html {
    background: var(--dark-mode);
    font-family: 'Poppins';
    font-size: 62.5%;
    /*1rem=10px  and if u do 10/16=62.5% now wheenerever u use 10px or 26px just do 1rem or 2.6rem so that font size has become responsive */
    font-style: normal;
}

.container {
    padding: 12px 3rem;
}

/* Header section */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav ul {
    display: flex;
    gap: 1rem;
    list-style: none;
}

.gradient-text {
    background: var(--gradient-heading);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: Poppins;
    font-weight: 700;
    font-size: 2.5rem;
}

.navlinks a {
    color: var(--light-content);
    text-align: center;
    font-family: DM Sans;
    font-size: 2rem;
    font-weight: 500;
    line-height: 2.6rem;
}

.navlinks a::after {
    content: "";
    width: 0;
    height: 2px;
    display: block;
    transition: all 0.2s ease-in;
}

.navlinks a:hover::after {
    width: 100%;
    background: var(--gradient-heading);
}

/* Hero Section */
#hero {
    display: flex;
    justify-content: space-around;
    min-height: 100vh;
    align-items: center;
    gap: 1.5rem;
}

.hero-content {
    color: var(--hero-heading);
    font-size: 5.8rem;
    font-weight: 700;
    line-height: 7rem;
    letter-spacing: -1px;
}

.gradient {
    background: var(--gradient-heading);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.profile-img-wrapper {
    background: var(--gradient-heading);
    border-radius: 50%;
    padding: 6px;
    padding-bottom: 3px;
}

.profile-img {
    width: 330px;
    height: 349px;
    border-radius: 50%;
}

.social-links img {
    display: inline-block;
    width: 40px;
    height: 40px;
    margin: 1rem 0.5rem;
    transition-duration: 0.5s;
}

.social-links img:hover {
    cursor: pointer;
    transform: scale(1.2);
    transition-duration: 0.5s;
}

/* techstack */
#techstack {}

.techstack-heading {
    color: var(--hero-heading);
    font-size: 5.5rem;
    font-weight: 700;
    line-height: 26px;
    text-align: center;
}

.techstack-sub-heading {
    color: var(--light-content);
    text-align: center;
    margin-top: 4rem;
    font-size: 3rem;
    font-weight: 400;
    line-height: 26px;
}

.skills-icons {
    margin-top: 6rem;
    display: flex;
    gap: 10.3rem;
    flex-wrap: wrap;
    justify-content: center;
}

.skills-icons img {
    height: 12rem;
    width: 12rem;
}

/* media queries */

/* header */
@media all and (width<=480px) {
    .container {
        padding: 1.2rem 2rem;
    }

    header {
        flex-direction: column;
    }
}

/* hero section */
@media all and (width<=881px) {
    #hero {
        flex-direction: column;
    }

    .profile-img-wrapper {
        order: -1;
        margin-top: 4rem;
    }

    .hero-content {
        font-size: 4.8rem;
        line-height: 6rem;
        margin-top: 2.5rem;
    }
}

@media all and (width<=400px) {
    .profile-img {
        width: 280px;
        height: 280px;
    }

    .hero-content {
        font-size: 3.8rem;
        line-height: 5rem;
    }

    .social-links img {
        width: 35px;
        height: 35px;
    }
}

/* techstack */

@media all and (width<=881px) {
    .techstack-heading {
        margin-top: 8rem;
        line-height: 7rem;
    }

    .techstack-sub-heading {
        line-height: 5rem;
    }

}

@media all and (width<=400px) {
    .techstack-heading {
        font-size: 4rem;
        line-height: 6rem;

    }

    .techstack-sub-heading {
        font-size: 2rem;
        line-height: 3.2rem;
    }

    .skills-icons {
        gap: 8rem;
    }

    .skills-icons img {
        height: 9rem;
        width: 9rem;
    }
}